services:
  mongodb:
    image: mongo:latest
    container_name: fleet-mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - fleet-network
    environment:
      MONGO_INITDB_DATABASE: fleetManagement

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fleet-backend
    restart: always
    ports:
      - "5010:5010"
    depends_on:
      - mongodb
    networks:
      - fleet-network
    environment:
      - PORT=5010
      - MONGODB_URI=mongodb://mongodb:27017/fleetManagement
      - JWT_SECRET=your_jwt_secret_key
      - NODE_ENV=development
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: fleet-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - fleet-network
    environment:
      - VITE_API_URL=http://localhost:5010/api/V1
    volumes:
      - ./frontend:/app
      - /app/node_modules

networks:
  fleet-network:
    driver: bridge

volumes:
  mongodb_data:
