version: '3.8'
services:
mongo:
image: mongo:6.0
restart: always
volumes:
- mongo-data:/data/db
ports:
- "27017:27017"


backend:
build: ./backend
restart: always
env_file:
- ./backend/.env
ports:
- "5000:5000"
depends_on:
- mongo
networks:
- fleetnet


frontend:
build: ./frontend
restart: always
ports:
- "3000:3000"
networks:
- fleetnet


volumes:
mongo-data:


networks:
fleetnet:
driver: bridge